<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="../css/blog.css" rel="stylesheet">

<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item active" href="#/home">Home</a>
            <a class="blog-nav-item" href="#/articles">List Articles</a>
            <a class="blog-nav-item" href="#" ng-click="Logout()">Logout</a>
        </nav>
    </div>
</div>

<div class="container" ng-controller="AddArticleCtrl">

    <div class="page-header">
        <h1><span class="glyphicon glyphicon-pencil"></span> Create Post</h1>
        <p>What's on your mind?</p>
    </div>

    <form class="form-horizontal" ng-submit="addPost()">
        <fieldset>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="txtTitle">Title:</label>
                <div class="col-md-4">
                    <input id="txtTitle" name="txtTitle" ng-model="article.title" type="text" placeholder="placeholder" class="form-control input-md">
                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="txtPost">Post:</label>
                <div class="col-md-4">
                    <textarea class="form-control" id="txtPost" ng-model="article.post" name="txtPost" ></textarea>
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="singlebutton"></label>
                <div class="col-md-4">
                    <input id="singlebutton" ng-disabled="!article.title || !article.post" name="singlebutton" class="btn btn-primary" type="submit" value="Publish" />
                </div>
            </div>

        </fieldset>
    </form>

</div>
<!-- /.container -->

<div class="blog-footer">
    <p>AngularJS and Firebase Blog App</p>
</div>


