
<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
<link href="../css/justified-nav.css" rel="stylesheet">

<div class="container" ng-controller="LoginCtrl">
    <div class="jumbotron" style="padding-bottom: 0px;">
        <h2>Welcome to AngularJS and Firebase Web Aplication!</h2>
    </div>
    <form class="form-signin" role="form">
        <input ng-model="user.email" type="email" class="form-control" placeholder="Email address" required="" autofocus="">
        <input ng-model="user.password" type="password" class="form-control" placeholder="Password" required="">
        <label class="checkbox">
            <span class="text-center"> You don't have account? <a href="#/register"> Sign Up</a></span>
        </label>
        <button type="button" ng-click="SignIn($event)" class="btn btn-lg btn-primary btn-block">SignIn</button>
    </form>
</div>

